{% extends "base.html" %}

{% block title %}

Student | {{ object.get_full_name }}

{% endblock %}

{% block content %}

<table>
    <tr>
        <th>Name</th><th>Birthday</th><th>Card</th><th>Group</th>
    </tr>
    <tr>
        <td>{{ object.get_full_name }}</td>
        <td>{{ object.bdate|date:"d/m/Y" }}</td>
        <td>{{ object.student_card }}</td>
        <td>{{ object.group }}</td>

        {% if user.is_authenticated %}

        <td><a href="{% url "edit_student" object.id %}">Edit</a></td>
        <td><a href="{% url "delete_student" object.id %}">Delete</a></td>

        {% endif %}

    </tr>
</table>

{% endblock %}